#test-container {
  .title-field {
    background-color: #ffffff;
    border-radius: 20px;
  }

  .content-field {
    border: 1px solid red;
    background-color: #ffffff;
    border-radius: 20px;
    height: 60vh;
  }

  .category,
  .master {
    margin: 20px 0;
  }

  .category select {
    height: 50px;
  }

  .master select {
    height: 50px;
  }

  #title-input {
    width: 60%;
    height: 50px;
  }

  .selection {
    display: flex;
    gap: 10px;
  }
}
